<table border="1">
    <thead>
        <tr>
            <th style="width: 300px;">
                name
            </th>
            <th style="width: 300px;">
                rank
            </th>
            <th style="width: 300px;">
                edit
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of fun">
            <td>
                <div *ngIf="!edit">
                    {{item.name}}
                </div>
                <div *ngIf="edit">
                    <input type="text" [(ngModel)]="item.name">
                </div>
            </td>
            <td>
                <div *ngIf="!edit">
                    {{item.persent}}
                </div>
                <div *ngIf="edit">
                    <input type="text" [(ngModel)]="item.persent">
                </div>
            </td>
            <td>
                <button *ngIf="!edit" (click)="edit=!edit">編輯</button>
                <button *ngIf="edit" (click)="edit=!edit">確認</button>
            </td>
        </tr>
    </tbody>
</table>