<button (click)="call()" [attr.disabled]="dd">{{text}}</button>
<!-- <input type="text" [(ngModel)]="name"><br> -->
<table border="1">
  <tr>
    <td [attr.colspan]="col">1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>3</td>
  </tr>
</table>

<div>
  <div>
    姓名:
  </div>
  <div [hidden]="!edit" [id]="id">
    <input type="text" [(ngModel)]="name">
  </div>
  <div [hidden]="edit">
    {{name}}
  </div>

  <div>
    生日:
  </div>
  <div [hidden]="!edit">
    <input type="text" [(ngModel)]="birthday">
  </div>
  <div [hidden]="edit">
    {{birthday}}
  </div>
</div>

<!-- 姓名:{{name}}<br>
生日:{{birthday}}<br> -->