<table border="1">
    <tr>
        <td>名稱</td>
        <td>價錢</td>
        <td>等級</td>
        <td>編輯</td>
    </tr>
    <tr *ngFor="let item of cpu">
        <td>
            <div *ngIf="!item.edit">
                {{item.name}}
            </div>
            <div *ngIf="item.edit">
                <input type="text" [(ngModel)]="item.name">
            </div>
        </td>
        <td>
            <div *ngIf="!item.edit">
                {{item.price}}
            </div>
            <div *ngIf="item.edit">
                <input type="text" [(ngModel)]="item.price">
            </div>
        </td>
        <td>
            <div *ngIf="!item.edit">
                {{item.rank}}
            </div>
            <div *ngIf="item.edit">
                <input type="text" [(ngModel)]="item.rank">
            </div>
        </td>
        <td>
            <!-- item.edit=true -->
            <button *ngIf="!item.edit" (click)="item.edit=true">編輯</button>
            <button *ngIf="item.edit" (click)="item.edit=falsr">確認</button>
        </td>
    </tr>
</table>